################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs

# build directories 
*/bin/*

# git submodules 
/CoriEngine/thirdparty/freetype/*
/CoriEngine/thirdparty/glad2/*
/CoriEngine/thirdparty/glm/*
/CoriEngine/thirdparty/imgui/*
/CoriEngine/thirdparty/nlohmann_json/*
/CoriEngine/thirdparty/SDL3/*
/CoriEngine/thirdparty/SDL3_image/*
/CoriEngine/thirdparty/SDL3_mixer/*
/CoriEngine/thirdparty/spdlog/*
/CoriEngine/thirdparty/tmxlite/*
/CoriEngine/thirdparty/magic_enum/*

# build directory for libs and tmp files
/out


/.local
deinitSub.sh
initSub.sh
rmSub.sh

/CMakeSettings.json

*.dll
*.exe
*.pdb

*.cori_engine_dll_copied.stamp
/Apps/Sandbox/bin/*
/Apps/RendererSandbox/bin/*
/notes.txt
