################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Apps/Sandbox/Build/Debug
/Apps/Sandbox/Build/Release
/Apps/Sandbox/Build/RelWithDebInfo
/CoriEngine/thirdparty/freetype/*
/CoriEngine/thirdparty/glad2/*
/CoriEngine/thirdparty/glm/*
/CoriEngine/thirdparty/imgui/*
/CoriEngine/thirdparty/nlohmann_json/*
/CoriEngine/thirdparty/SDL3/*
/CoriEngine/thirdparty/SDL3_image/*
/CoriEngine/thirdparty/SDL3_mixer/*
/CoriEngine/thirdparty/tmxlite/*
/out/build
